.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 12px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 640px) {
  .header {
    display: none;
  }
}
